<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.campus_life.mapper.KnowledgeMapper">

    <select id="listAll" resultType="com.campus.campus_life.entity.Knowledge">
        SELECT id, title, content, category_id, view_count
        FROM knowledge
    </select>

</mapper>